.d-flex {
   min-height: 75%;
   margin-top: 25%;
}

.p-2 {
   width: 60%;
   margin: auto;
   text-align: center;
   margin-bottom: 3%                ;

}

img {
   /* box-shadow: 1px 1px 5px 2px rgb(192, 192, 192); */
   box-shadow: 2px 2px 15px 2px rgb(192, 192, 192);
   width: 33%;

}

.nav-link {
   margin: 0 0.5rem;
   color: #FCFFF5;
   text-transform: uppercase;
   padding-left: 2rem;
   font-size: 0.95rem;
   font-weight: 200;
   border: 2px solid transparent;
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1024px) {

   .navbar {
      background-color: rgba(3, 51, 74, 0.8);
      padding: 0.9rem 0;
   }
}

   @media screen and (min-width: 350px) {
}


