.projects {
  width: 90%;
}

.card {
  padding: 1.5rem;
  background-color: var(--light-blue);
}

.card h2 {
  border-top: 2px solid hsl(0, 0%, 50%);
  border-bottom: 2px solid hsl(0, 0%, 50%);
  left: 0;
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 3%;
  }

  .card {
    width: 75%;
  }


}
