
p, p a {
  font-size: clamp(1rem, 1.15vw, 1.15rem);
  color: var(--dark-grey);
}

.content-title h2 {
  margin-top: 2%;
  font-size: clamp(1rem , 1vw, 1.2rem);
}

p a {
  font-weight: 400;
}

.projects, .skills {
  display: block;
  width: 75%;
  margin: 4rem auto 0;
  background-color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 1px 1px 80px 0 rgba(0,0,0,0.75);
  border-radius: 0.35rem;
  padding: 3rem;
  text-indent: 1rem;
  column-count: 2;
  text-align: justify;
  line-height: 1.75;
  font-weight: 300;
}

.emphasize {
  color: hsl(0, 100%, 27%);
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.skills img {
  width: clamp(1.9rem, 2.111vw, 1.9rem);
}

/* Laptop styles */
@media screen and (max-width: 1024px) {
  .projects {
    width: 90%;
    column-count: 1;
    text-align: justify;
  }
}

/* Tablet styles - 768px*/
@media screen and (max-width: 768px) {

  .projects {
    padding: 3rem;
  }

  .skills {
    margin-bottom: 2rem;
  }
}

/* Mobile styles - 520px */
@media screen and (max-width: 520px) {


  .content-title, .projects, .skills {
    width: 90%;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.75);
  }

  .projects {
    column-count: 1;
    padding: 1.5rem;
    margin: 3rem auto 0;
  }

  .skills {
    margin-bottom: 0 auto 1.5rem;
  }

}








