body {
}
.row {
   width: 100%;
   height: 100%;
   background-image: url(../images/background2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   --bs-gutter-x: 0rem;
}

.rounded-circle:hover {
   border: 2px solid rgb(240, 188, 104);
   transition: 0.5s;
}

.col-sm-8 {
   display: block;
   width: 80%;
}
.col-sm-4 {
   width: 20%;
}


.portfolio-content, .portfolio-header h1 {
   width: 75%;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, 0.30);
}
.portfolio-content {
   padding: 2rem 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 3rem; 
}

.portfolio-header h1{
   font-size: 2rem;
   font-weight: 200;
   padding: 2rem 0;
   color: rgba(0, 0, 0, 0.6);
   margin: 3rem auto 1.5rem ;
}

.col-sm-5 {
   margin: 1rem 1rem;
   display: flex;
}

.card {
   margin: 0 auto;
   background-color: rgba(255, 255, 255, 0.85);
   /* border: 2px solid silver; */
   box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
}


.portfolio-link img{
   border: 2px solid transparent;
   width: 100%;
}

.portfolio-link:hover img{
   border: 2px solid rgb(192, 192, 192);
}

.data-bs-toggle .data-bs-content {
   color: red;
}

h4 {
   text-transform: uppercase;
   font-weight: 400;
   font-size: 1.3rem;
}

@media screen and (max-width: 1500px) {
   .portfolio-header h1, .portfolio-content {
      width: 65%;
   }
}

@media screen and (max-width: 1350px) {
   .portfolio-header h1 {
      font-size: 1.7rem;
   }

   .portfolio-header h1, .portfolio-content {
      width: 85%;
   }

   .col-sm-8 {
      width: 75%;
   }
   .col-sm-4 {
      width: 25%;
   }
}

@media screen and (max-width: 1250px) {
   .portfolio-header h1, .portfolio-content {
      width: 90%;
   }

   .col-sm-8 {
      width: 75%;
   }
   .col-sm-4 {
      width: 25%;
   }
}

@media screen and (max-width: 1110px) {
   .portfolio-header h1, .portfolio-content  {
      width: 90%;
   }
   .portfolio-header h1 {
      font-size: 1.6rem;
   }

}

@media screen and (max-width: 768px) {
   .col-sm-4 {
      display: none;

   }
   .row .col-sm-8 {
      width: 95%;
   }
   .portfolio-header h1, .portfolio-content {
      width: 100%;
   }

   .portfolio-header h1 {
      font-size: 1.35rem;
      margin: 1.5rem auto 1rem;
   }

   .portfolio-content {
      padding-bottom: 1rem;
   }

   h4 {
      font-size: 1.1rem;
   }

   .navbar .nav-item a {
      font-size: .9rem;
  }
}