* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.one, .two ,.three {
  width: 30%;
}

img {
  width: 100%;
  min-width: 400px;
  /* border: 1px solid red; */
}

.gallery-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.group-name {
  color: white;
  position: absolute;
  top: 15%;
  border: 1px solid blue;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

.one h2 {
  left: 15%;
}

.two h2 {
  left: 45%;
}

.three h2 {
  left: 75%;
}

/* accessibility styles */
.carousel-control-next-icon {
  color: orange;
}