@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --azure-bgn: hsl(180, 100%, 97%);
  --blue-bgn: hsla(199, 92%, 15%, 0.8);
  --white-bgn: hsla(0, 0%, 100%, 0.8);
  --white-high-opac: hsla(0, 0%, 100%, 0.3);
  --pure-white: hsl(0, 0%, 100%);
  --dark-grey: rgb(92, 92, 92);
  --accent-burgundy:  hsla(345, 68%, 30%, 0.8);
  --light-blue: hsl(215, 48%, 89%);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*, *::before, a::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}


img,
svg {
  display: block;
  max-width: 100%;
}


h1 {font-size: clamp(1.4rem, 2.2vw, 1.75rem);}
h2 {font-size: clamp(1rem , 1.32vw, 1.2rem);}
h3 {font-size: clamp(0.8rem, 1vw, 1rem);}
li {font-size: clamp(0.7rem, 0.89vw, 0.8rem);}
p {font-size: clamp(0.8rem, 0.92vw, 0.9rem);}


h1, h2, h3, ul {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: white;

}

.row {
  max-width: 1440px;
  min-width: 375px;
  min-height: 100dvh;
  margin: 0 auto;
  background-image: url(../images/background5.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.nav {
  width: 20%;
  background-color: var(--blue-bgn);
  color: var(--pure-white);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.content {
  width: 80%;
}

.hero-img {
  width: 50%;
  min-width: 5.63rem;
  margin: 2rem auto 0;
}

.hero-img a img {
  height: auto;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 35%);
}


.hero-title {
  margin-top: 1rem;
}


ul, .get-in-touch {
  padding: 0 1rem;
}

ul {
  margin: 2rem 0 auto 0;
  list-style-type: none;
  text-align: left;
  padding: 0 1rem;
}

ul li {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid hsl(0, 0%, 35%);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.75);
}

ul li, .get-in-touch a, .content h1, .projects, .projects h3, .card-img, .content-title {
  border-radius: 0.35rem;
}

ul a {
  color: var(--pure-white);
  text-decoration: none;
}

.hero-img a img, ul li, .get-in-touch a {
  transition: border 0.3s, background-color 0.3s;
}

.hero-img a img:hover, ul li:hover, .get-in-touch a:hover {
  border: 2px solid hsl(6, 73%, 71%);
  background-color: hsla(0, 0%, 100%, 0.15);
  color: var(--pure-white);
}

.get-in-touch {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.get-in-touch a {
  display: block;
  width: clamp(2rem, 1.75vw, 2.5rem);
  min-width: 2rem;
  border: 2px solid transparent;
  margin: 0.2rem;
}

.content-title {
  padding: 0.75rem 1.5rem;
  width: 75%;
  margin: 4% auto 0;
  background-color: hsla(0, 0%, 100%, 0.7);
  box-shadow: 1px 1px 40px 0 rgba(0,0,0,0.75);
}

.content-title h1 {
  color: var(--accent-burgundy);
}

.content-title h2 {
  color: var(--dark-grey);
}

.projects {
  width: 75%;
  margin: 3% auto 0;
  background-color: hsla(0, 0%, 100%, 0.3);
  box-shadow: 1px 1px 80px 0 rgba(0,0,0,0.75);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.card:nth-child(odd) {
  top: -10%;
  left: 15%;
  z-index: 1;
}

.card:nth-child(even) {
  margin-top: 15%;
  right: 15%;
}


.projects, .card, .overlay {
  border-radius: 1rem;
}

.card {
  display: block;
  width: 40%;
  box-shadow: 8px 8px 20px 0 rgba(0,0,0,0.75);
  overflow: hidden;
  position: relative;

}

.card:hover {
  z-index: 2;
}

.card h2 {
  background-color: var(--accent-burgundy);
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  right: 0;
  padding: 0.6rem 0;
  font-size: clamp(1.1rem , 1.3vw, 1.3rem);
  box-shadow: 4px 0 6px 0 rgba(0,0,0,0.75);
}

.projects a {
  text-decoration: none;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(199, 92%, 15%, 0.65);
  border: 3px solid hsl(6, 73%, 71%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.overlay img {
  width: 20%;
}

.overlay:hover {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

/* Laptop styles */
@media screen and (max-width: 1024px) {
  .projects {
    width: 90%;
  }
  
}


/* Tablet styles - 768px*/
@media screen and (max-width: 768px) {
  .nav {
    width: 25%;
  }

  .content {
    width: 85%;
  }

  .content-title {
    width: 65%;
  }

  .projects {
    display: flex;
    justify-content: center;
    row-gap: 2rem;
    padding: 2rem 0;
  }

  .card {
    width: 55%;
    position: relative;
    width: 75;
    left: 0;
    right: 0;
  }

  .card:nth-child(odd) {
    left: 0;
  }
  
  .card:nth-child(even) {
    margin-top: 0;
    right: 0;
  }
  

}

/* Mobile styles - 520px */
@media screen and (max-width: 520px) {
  html {
    background-color: var(--azure-bgn);
  }

  .row {
    background-image: none;
    display: block;
    min-height: 100vh;
  }
  
  .hero {
    display: none;
  }


  .nav {
    padding: 0;
  }

  .nav, .content {
    width: 100%;
  }


  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.75rem 0;
    
  }


  ul {
    margin: 0;
  }


  a li {
    margin: auto 0;
  }


  .get-in-touch {
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: var(--blue-bgn);
    padding: 0.25rem 0;
  }

  .content {
    margin-bottom: 3%;
  }

  .content-title, .projects {
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.75);
  }


  .content-title {
    margin-top: 2rem;
    width: 90%;
  }

  .projects {
    margin: 2rem auto 0;
    width: 90%;
    padding: 1.5rem;

  }

  .card {
    min-width: 80%;
  }

}








