/***** Small screen size styles *****/

/* General styles */
html{
   box-sizing: border-box;
   background-color: #fcfff5;
   font-size: 16px;
   font-family: "Open Sans", sans-serif;
   font-weight: 300;
   color: #193441;
}

h1, h2, h3 {
   font-family: "Work Sans", sans-serif;
   font-weight: 600;
}

h1{
   font-size: 2.25rem;
   color: #fcfff5;
}
h2, h2 {
   color: #193441
}

h2 {
   font-size: 1.35rem;
}
h3 {
   font-size: 1.15rem;
}
h4 {
   font-size: 1rem;
   font-weight: 500;
   padding: 0.5rem 1rem 0.5rem 0.25rem;
   display: inline-block;
}

main {
   width: 92%;
   margin: 0 auto;
}

header, footer {
   background-color: #91aa9d;
}

/* Header styles */
header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.25rem 0;
   margin-bottom: 1rem;
}

h1 {
   margin: 0 1rem;
   text-align: center;
}

header img {
   height: 2.25rem;
   width: auto;
}

/* Navigation menu styles */
li {
   display: inline-block;
   font-weight: 600;
   margin: 0 auto;
   padding: 1rem 0;
   font-size: 1.2rem;
}



nav {
   display: none;
   justify-content: center;
}

/* Main styles */
#hero {
   max-width: 60%;
   min-width: 150px;
   height: auto;
   padding: 1rem;
   border-radius: 50%;
   margin: 0 20%;
}

main h2 {
   display: inline-block;
   background-color: #193441;
   padding: 0.5rem 1rem;
   margin: 1.5rem 0 1.2rem ;
   color:#fcfff5;
   border-radius: 0.15rem;
   
}

main span {
   font-weight: 600;
   display: block;
   text-indent: 1.5rem;
   margin-bottom: 0.4rem;
}

main p {
   line-height: 1.5rem;
   text-indent: 1.5rem;
   text-align: justify;
   text-justify: inter-word;

}

main h3 {
   display: inline-block;
   background-color: #193441;
   padding: 0.5rem 1rem;
   margin: 1.5rem 0 1.2rem ;
   color:#fcfff5;
   border-radius: 0.15rem;
}

.skills_icons_container {
   display: flex;
}

.skills_icons_container img {
   width: 12%;
   min-width: 6%;
   height: auto;
   margin-bottom: 1rem;
}

/* Projects section styling */
/* .restaurant_review_app, .feed_reader, .arcade_game, .memory_game {
   background-color: #3e606f;
   color:#fcfff5;
   border: 2px solid #fcfff5;
   border-radius: 0.2rem;
} */

.project_menu_header {
   background-color: #3e606f;
   color:#fcfff5;
   border-bottom: 2px solid #fcfff5;
   border-radius: 0.2rem;
}

.project_menu_header img {
   width: 12px;
   margin: auto 0;
   padding-left: 0.5rem;
}

img.screenshot{
   width: 100%;
   margin: 0 auto;
}

/* footer styles */
footer {
   padding-bottom: 0.1rem;
}

footer h3 {
   display: inline-block;
   background-color: #193441;
   padding: 0.5rem 1rem;
   margin: 1.5rem 0 1.2rem 1.5rem ;
   color:#fcfff5;
   border-radius: .15rem;
}

footer img {
   width: 10%;
   min-width: 20px;
   height: auto;
}

.socials-container {
   /* width: 83%; */
   display: flex;
   background-color: #d1dbbd;
   padding: 0.5rem 1.5rem;
   /* margin: 0 auto; */
   justify-content: center;
}

.socials-container a{
   display: flex;
   justify-content: space-around;
}

.social_icons {
   width: 40%;
   margin: 0 auto;
}

.phone_and_mail_container {
   display: flex;
   background-color: #3e606f;
   padding: 0.5rem 1rem;
   margin: 1rem auto;
   justify-content: center;
   margin-bottom: 1rem;
   align-items: center;
}

.phone_and_mail_container img {
   width: 8%;

}

footer span {
   color: #fcfff5;
   font-weight: 500;
   padding: 0 1rem 0 0.25rem;
}

/* Links styles */

li a:visited {
   color: #a33002;
}

li a:hover {
   text-decoration: underline;
   color: #fcfff5;
   font-size: 1.35rem;
   transition: font-size 300ms;
   transition-timing-function: ease-in-out;
}

main a {
   font-weight: 600;
   color: #3e606f;
}

main a:visited {
   color: #a33002;
}

main a:hover {
   color: #1e90ff;
   text-decoration: underline;
   font-size: 1.075rem;
   transition: font-size 300ms;
   transition-timing-function: ease-in-out;
}

main a:active {
   color: #c50202;
}

footer a:hover img {
   border: 2px solid #3e606f;
   transition: border 300ms;
   transition-timing-function: ease-in-out;
}

header a:hover img {
   width: 3rem;
   height: auto;
   transition: width 3s;
   /* transition-timing-function: ease-in-out; */
} 

/***** Medium screen size styles ******/

@media only screen and (max-width: 768px) and (min-width: 481px) {
   /* Header styles */
   header a img {
      display: none;
   }

   header {
      display: block;
      padding-bottom: 3rem;
   }

   header h1 {
      font-size: 2rem ;
      display: block;
      text-align: left;
   }

   nav {
      display: block;
   }

   ul {
      display: block;
      float: right;
      padding-right: 1rem;
   }

   header li {
      font-size: 1rem;
   }

   #last_slash, #close_icon {
      display: none;
   }

   /* Portrait styles */
   img#hero {
      width: 30%;
      margin: 1.5rem 0 0 0;
      height: auto;
      float: right;
      padding: 0 1rem 0 2rem;

   }

   /* "About Me" styles */
   main h2 {
      margin-top: 5rem;
   }

   main span {
      margin: 1rem 0 0.5rem 0;
   }

   #text_introduction {
      margin-bottom: 1.0rem;
   }
   #text_body {
      column-count: 2;
   }

   /* Skills images styles */

   .skills_icons_container {
      justify-content:space-around
   }

   .skills_icons_container img {
      width: 8%;
      min-width: 4%;
      height: auto;
      margin-bottom: 1rem;
   }
   
   /* Footer styles */

   .socials-container img {
      width: 50%;
      height: auto;
   }

   .phone_and_mail_container img {
      width: 6%;
      height: auto;
   }
}

/***** Big screen size styles ******/

@media only screen and (min-width: 769px) {
   /* Header styles */
   header a img {
      display: none;
   }

   header {
      display: block;
      padding-bottom: 3rem;
   }

   header h1 {
      font-size: 2rem ;
      display: block;
      text-align: left;
   }

   nav {
      display: block;
   }

   ul {
      display: block;
      float: right;
      padding-right: 1rem;
   }

   header li {
      font-size: 1rem;
   }

   #last_slash, #close_icon {
      display: none;
   }

   /* Portrait styles */
   img#hero {
      max-width: 258px;
      margin: 1.5rem 0 0 0;
      height: auto;
      float: right;
      padding: 0 1rem 0 2rem;

   }

   /* "About Me" styles */
   main h2 {
      margin-top: 6rem;
   }

   main span {
      margin: 2rem 0 1em 0;
   }

   #text_introduction {
      margin-bottom: 2rem;
   }
   #text_body {
      column-count: 3;
   }

   /* Skills images styles */

   .skills_icons_container {
      justify-content:space-between
   }

   .skills_icons_container img {
      max-width: 60px;
      height: auto;
      margin-bottom: 1rem;
   }
   
   /* Footer styles */
   .socials-container {
      justify-content: center;
   }

   .socials-container img {
      max-width: 50px;
      min-width: 50px;
      height: auto;
      padding: 0 3rem;
   }

   .phone_and_mail_container img {
      max-width: 50px;
      min-width: 50px;
      height: auto;
      padding: 0 1rem;
   }

   .projects {
      justify-content: space-around;
   }
   .projects div {
      max-width: 45%;
   }
}
